{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-4">
            {{ form(form) }}
            <a href="{{ path('post-index') }}">Back</a>
        </div>
    </div>
{% endblock %}