{% extends "base.html.twig" %}

{% block body %}
    <h3>Posts</h3>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="d-flex align-items-center mb-3">
                {% if post.photo %}
                    <div class="flex-shrink-0 me-3">
                        <img src="{{ asset('upload/' ~ post.photo) }}" class="rounded" width="100" />
                    </div>
                {% endif %}
                <div class="flex-grow-1">
                    <a href="{{ path('post-show', {slug: post.slug}) }}">{{ post.title }}</a>
                </div>
            </div>
        {% endfor %}      
    {% else %}
        <p>
            <small class="text-muted">There are no posts to display.</small>
        </p>
    {% endif %}
    <p>To add a new post, <a href="{{ path('post-add') }}">click here</a>.</p>
{% endblock %}